[submodule "vendor/web-design-guidelines"]
	path = vendor/web-design-guidelines
	url = https://github.com/vercel-labs/agent-skills
[submodule "vendor/mattapocock"]
	path = vendor/mattapocock
	url = https://github.com/mattpocock/skills.git
